.quote {
    display: block;
    font-family: Jubilat, Georgia, sans-serif;
    color: #273c48;
    font-size: 50px;
    text-align: center;
}

.quoteAuthor {
    margin-bottom: 18px;
    font-family: 'Brandon Grotesque', Arial, sans-serif;
    color: #979797;
    font-size: 11px;
    line-height: 18px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 200px;
}

.boxFive {
    margin-top: 100px;
    margin-left: 455px;
    height: 460;
    width: 570px;

}


